@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --primary: #02225b;
  --primary-dark: #03123a;
  --primary-light: #0057c8;
  --secondary: #20c265;
  --gray: #1c2a4e;
  --gray-light: #8794b5;
  --white: #fff;

  --sidebar-width: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
}

/* Layout */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-dark);
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--primary);
}

.main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
}

/*  Header */
.header-logo {
  background-color: var(--primary-light);
  width: var(--sidebar-width);
  height: var(--sidebar-width);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
}

.header-content {
  flex-grow: 1;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.header-actions {
  font-size: 1.4rem;
}

/* Main */

/* Sidebar */
.sidebar {
  width: var(--sidebar-width);
  background-color: var(--primary);
}

.sidebar-nav li {
  height: var(--sidebar-width);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.sidebar-nav li.active {
  background-color: var(--primary-light);
}

/* Content */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-header {
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-main {
  padding: 1rem;
  overflow-y: auto;
}

.per-page-input {
  width: 60px;
  margin-left: 1rem;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--gray-light);
  display: flex;
  align-items: center;
  padding: 0 max((100% - 1200px)/2, 48px);
}

tr th {
  text-align: left;
  width: calc(100% / 3);
  padding: 1rem 0;
}

tr th:nth-child(1),
tr td:nth-child(1) {
  width: calc(100% / 8 * 3);
}

tr th:nth-child(2),
tr td:nth-child(2) {
  width: calc(100% / 8 * 2);
}

tr th:nth-child(3),
tr td:nth-child(3) {
  width: calc(100% / 8 * 2);
}

tr th:nth-child(4),
tr td:nth-child(4) {
  width: calc(100% / 8 * 1);
}

tr .coin {
  display: flex;
  padding: 1rem 0;
}

tr .coin .icon {
  object-fit: contain;
  width: 2rem;
  margin-right: 1rem;
}

tr .coin h4 {
  font-size: 1.2rem;
}

tr .coin p {
  font-size: 0.8rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* background-color: var(--gray); */
  border-top: 1px solid var(--gray-light);
}

/* Pagination */
.pagination button,
.pagination input {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--gray-light);
  padding: .5rem 1rem;
  cursor: pointer;
}

.pagination button:hover {
  background-color: var(--gray-light);
}

.pagination button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination button:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination input {
  width: 100px;
}

/* Inputs */
.form-input {
  background-color: transparent;
  color: var(--gray-light);
  padding: 0.5rem;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}
